# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# Environment files
.env
.env.*

# Keep the template
!.env.example

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Logs
*.log

# Airflow runtime files
airflow/logs/
airflow/config/
airflow/.env
airflow/airflow.cfg
airflow/standalone_admin_password.txt

# Downloaded compressed logs
*.gz